# Build artifacts
/Debug/
/Release/
/build/
*.o
*.d
*.elf
*.hex
*.bin
*.map
*.lst
*.log
*.su

# CubeIDE auto files
.ipch/
.settings/
.cproject
.project

# IDE config files
*.launch
*.swp
*.DS_Store

# Backup and temp
*~
*.bak
*.tmp

# Optional: ignore CMSIS/HAL if using Git submodules
# Drivers/CMSIS/
# Drivers/STM32F4xx_HAL_Driver/
